
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.4;
  font-size: 4rem;
  font-weight: 900;
}

.title span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: var(--padding);
  padding-right: var(--padding);
  position: relative;
  z-index: 1;
}

.first {
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}
.second {
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
}
.third {
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.getStartBtn {
  text-align: center;
}

.getStartBtn {
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  font-size: 1.2em;
  border-radius: 0.8em;
  font-weight: 600;
  padding: 0.6em 1em;
  cursor: pointer;
  transition: 0.2s ease-in-out 0s;
  box-shadow: 0em 0em 1.4em -0.2em white;
}

.getStartBtn:hover {
  transform: scale(1.05);
}

.getStartBtn:active {
  transform: scale(0.9);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 65vw;
  margin-top: 2em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
