@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: black;
  font-size: 1vw;
}

.ReactModal__Overlay {
  background-color: transparent !important;
}

.ReactModal__Content {
  background-color: transparent !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ENDLOGO {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 3rem;
  cursor: pointer;
}

.ENDLOGO img {
  width: 15rem;
  height: auto;
}

.helper {
  --reactour-accent: #5cb7b7;
  line-height: 1.3;
  color: #2d2323;
}

.sc-eDvSVe{
  color: black;
}



@media only screen and (max-width: 768px) {
  html {
    font-size: 1.6vw;
  }
  .ENDLOGO{
    margin-top: 2em;
  }
  .ENDLOGO img {
    width: 30vw;
    height: auto;
  }
 
}

@media only screen and (max-width: 530px) {
  html {
    font-size: 3.1vw;
    padding-bottom: 0;
  }
  .ENDLOGO{
    margin-top: 1.5em;
  }
  .ENDLOGO img {
    width: 60vw;
    height: auto;
  }
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* SCROLL STYLING */

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  line-height: 1;
  width: 1px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #818b9941;
  border: 6px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
