.Main {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5vw;
  border-bottom: 0.1em #88888873 solid;
  position: fixed;
  top: 0;
  background-color: black;

  /* z-index: 10000; */
}

.Main img {
  width: 9.5em;
  height: auto;
  margin-right: auto;
}

.linkBar {
  width: fit-content;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.4em 0.7em;
  border-radius: 0.7em;
}

.linkBar img {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.linkBar p {
  margin-inline: 0.5em;
  font-size: 0.9em;
}

.section {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.utility {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
}

.refresh {
  border-radius: 100%;
  background-color: #1c1c1c;
  padding: 0.6em;
  border-radius: 100%;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh img {
  width: 1em;
  height: 1em;
}

.userBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1c1c1c;
  padding: 0.3em 0.6em;
  border-radius: 0.5em;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out 0s;
}

.userBtn:hover {
  background-color: #4b4a4a9d;
}
.userBtn:active {
  transform: scale(0.9);
  background-color: #4b4a4a9d;
}

.userBtn img {
  width: 1em;
  height: 1em;
}

.userBtn p {
  font-size: 0.9em;
}

.dropdown {
  width: 8.2em;
  left: 0em;
  position: absolute;
  top: 2.5em;
  background-color: #1c1c1c;
  padding: 0.5em 0.6em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
}

.clip:active {
  transform: scale(0.8);
  transition: 0.2s ease-in-out 0s;
}

@media only screen and (max-width: 768px) {
  .Main {
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 530px) {
  .Main {
    font-size: 3.6vw;
    padding-inline: 2.5vw;
  }
  .section {
    width: fit-content;
  }
  .logo {
    content: url("/vercel.svg");
    width: 2em !important;
    height: 2em !important;
  }

  .linkBar{
    margin-right: -1em;
  }

  .linkBar p{
    max-width: 32vw;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    direction: rtl;
  }

  .userBtn p{
    max-width: 15vw;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    direction: rtl;
  }

  .dropdown{
    width: fit-content;
    font-size: 0.83em;
    margin-top: 0.2em;
  }
}
