.Main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3.5vw;
  position: sticky;
  top: 0;
  z-index: 1000;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
  /* border-bottom: 0.1em #88888873 solid; */
}

.Main img {
  width: 12em;
  height: auto;
}

.leaderbtn{
  width: 8rem;
  background: white;
  font-weight: 700;
  color:black ;
  height: 2.8rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}
.leaderbtn:hover{
  background-color: white;
  color: black;
  box-shadow: 0em 0em 6em -0.6em white;
  transform: scale(1.1);
}

.btnYear {
  width: 6.5em;
  height: 2.8em;
  border-radius: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  transition: 0.2s ease-in-out 0s;
}

.btnYear p {
  cursor: pointer;
  color: black;
  font-weight: 500;
  font-size: 1.2em;
  font-weight: 600;
}

.btnYear:hover {
  background-color: white;
  color: black;
  box-shadow: 0em 0em 6em -0.6em white;
  transform: scale(1.1);
}

.btnYear:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 768px) {
  .Main {
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 530px) {
  .Main {
    font-size: 3.2vw;
    padding-inline: 2.5vw;
  }
}
