.container {
  width: 70vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  /* transition: 0.2s ease-in-out 0s; */
}

.profileDiv {
  width: 95%;
  height: 12vw;
  border: 0.18em #88888873 solid;
  border-radius: 0.8em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-size: 1vw;
}

.profileLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2em;
}

.profileRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.profileimg {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  box-shadow: 0em 0em 6em -2em white;
}

.profileTextDiv h1 {
  margin: 0 !important;
  padding: 0 !important;
}
.profileTextDiv h2 {
  margin: 0 !important;
  padding: 0 !important;
}

.profileTextDiv p {
  margin: 0 !important;
  padding: 0 !important;
}

.profileTextDiv {
  width: 100%;
  margin: auto;
  margin-left: 1.5em;
  font-size: 0.8vw;
  /* background-color: aqua; */
}

.profileTextDiv h1 {
  font-size: 2em;
  margin-bottom: 0.2em !important;
}

.profileTextDiv h2 {
  font-size: 1em;
  margin-bottom: 0.6em !important;
}

.profileTextDiv p {
  font-size: 0.9em;
  color: #ffffff80;
  margin-bottom: 0.8em !important;
}
.linksDiv {
  display: flex;
  flex-direction: row;
  font-size: 2vw;
}

.linksBtn {
  width: 1em;
  height: 1em;
  border-radius: 100vw;
  background-color: transparent;
  border: 0.01em rgb(226, 222, 222) solid;
  margin-right: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 10px -2px white; */
}

.linksBtn:hover {
  background-color: #ffffff10;
  box-shadow: 0px 0px 15px -5px white;
  transition: 0.2s ease-in-out 0s;
  
  cursor: pointer;
}

.linksBtn img {
  width: 60%;
  height: auto;
}

.numbers {
  line-height: 0;
  text-align: center;
}

.numbers h2 {
  font-size: 2em;
  padding-bottom: 0.2em;
}

.numbers p {
  font-size: 0.9em;
  color: #ffffff80;
}
