.container {
  padding-inline: 5vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.containerTop {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
}

.containerTopLeft {
  width: 75vw;
}

.containerTopRight {
  width: 25vw;
}

.profileDiv {
  width: 100%;
  height: 12vw;
  border: 0.15em #88888873 solid;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  font-size: 1vw;
}

.profileLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}

.profileRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.profileimg {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  box-shadow: 0em 0em 8em -1.7em white;
}

.profileTextDiv {
  width: 100%;
  margin: auto;
  margin-left: 1.5rem;
  /* background-color: aqua; */
}

.profileTextDiv h1 {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -0.3rem;
}

.profileTextDiv h2 {
  font-size: 1em;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.profileTextDiv p {
  font-size: 0.8em;
  color: white;
  font-weight: 500;
}

.profileTextDiv span {
  font-size: 0.9em;
  color: #ffffff80;
  font-weight: 500;
}

.linksDiv {
  display: flex;
  flex-direction: row;
  font-size: 2vw;
}

.linksDiv img {
  width: 1rem;
  height: 1rem;
}

.linksBtn {
  width: 1em;
  height: 1em;
  border-radius: 100vw;
  background-color: transparent;
  border: 0.01rem rgb(226, 222, 222) solid;
  margin-right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 10px -2px white; */
}

.linksBtn:hover {
  background-color: #ffffff10;
  box-shadow: 0px 0px 15px -5px white;
  transition: 0.2s ease-in-out 0s;

  cursor: pointer;
}

.linksBtn img {
  width: 60%;
  height: auto;
}

.rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.8em;
  font-size: 1vw;
}

.rank img {
  margin-right: 0.4rem;
}

.rank p {
  font-size: 0.8em;
  text-align: center;
  margin-top: 0.2em;
}

.numbers {
  /* line-height: 0; */
  text-align: center;
}

.numbers h2 {
  font-size: 1.5em;
  padding-bottom: 0.2em;
  font-weight: 600;
}

.numbers p {
  font-size: 0.9em;
  color: #ffffff80;
}

.BottomLinkDiv {
  display: none;
  padding-inline: 3vw;
}

.TotalCountDiv{
  display: none;
}

@media only screen and (max-width: 768px) {
  .containerTopLeft {
    width: 100vw;
  }
  .containerTopRight {
    display: none;
  }

  .profileDiv {
    height: 16vw;
    padding-inline: 1rem;
    font-size: 1.1vw;
    border-radius: 1.2vw;
  }

  .rank {
    font-size: 1.1vw;
  }

  .profileRight {
    font-size: 1.4vw;
  }

  .profileimg {
    width: 10vw;
    height: 10vw;
  }

  .BottomLinkDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 530px) {
  .profileRight {
    display: none;
  }

  .profileLeft {
    width: 100%;
  }

  .profileTextDiv {
    padding-left: 4vw;
  }

  .profileDiv {
    width: 96%;
    height: 35vw;
    padding-inline: 2vw;
    font-size: 3vw;
    border-radius: 2.5vw;
  }

  .rank {
    font-size: 3vw;
  }

  .rank img {
    width: 1em;
    height: auto;
  }

  .rank p {
    margin-left: 0.3em;
  }

  .profileimg {
    width: 20vw;
    height: 20vw;
  }

  .TotalCountDiv{
    display: flex;
    width: 96%;
    height: 7em;
    font-size: 3vw;
    border-radius: 2.5vw;
    border: 0.15rem #88888873 solid;
    margin-top: 1em;
  }

  .profileBottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .profileBottom .numbers{
    font-size: 3vw;
  }

  .BottomLinkDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    margin-left: 1vw;
  }
}
