.submissionDiv {
  width: 100%;
  height: 14vw;
  border: 0.15em #88888873 solid;
  border-radius: 0.8em;
  margin-top: 1em;
  /* overflow: hidden; */
  font-size: 1vw;
  padding: 1em 1.5em;
}

.HeatMapDiv {
  height: 90%;
}
.totalsubmission {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.totalsubmission h2 {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.totalsubmission h2 span {
  font-size: 0.7em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.btnYear {
  width: 5.4em;
  height: 2.1em;
  /* padding: 0.4em 0.9em; */
  border: 0.15em #88888873 solid;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnYear p {
  cursor: pointer;
}

.btnYear img {
  width: 1.2em;
  height: auto;
}

.btnYear img {
  width: 1.2em;
  height: auto;
}

.btnYear:hover {
  background-color: white;
  transition: 0.2s ease-in-out 0s;
  color: black;
  box-shadow: 0em 0em 6em -0.6em white;
}

.HeatMap {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  font-size: 100%;
}

.Box {
  margin-inline: 0.15em;
  display: flex;
  flex-direction: row;
}

.WeekRow {
  width: auto;
  height: auto;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Point {
  max-width: 0.745em;
  max-height: 0.745em;
  width: 0.745em;
  height: 0.745em;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 0.18em;
  margin: 0.1em 0.1em;
  overflow: visible;
  cursor: pointer;
  /* margin-inline: 0.5em; */
}

.PointTrans {
  max-width: 0.745em;
  max-height: 0.745em;
  background-color: transparent;
  border-radius: 0.18em;
  margin: 0.1em 0.1em;
}

.Point:hover {
  transition: 0.2s ease-in-out 0s;
  transform: scale(1.2);
}


.Point .tooltip {
  min-width: 16em;
  height: 2.2em;
  border-radius: 0.6em;
  background-color: #e7e7e7;
  position: relative;
  left: -7em;
  top: -3em;
  visibility: hidden;
  color: black;
  font-size: 0.6em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1em;
}

.Point:hover .tooltip {
  visibility: visible;
  /* transform: scale(1.5); */
}

.Point:hover {
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .submissionDiv {
    height: fit-content;
    font-size: 1.1vw;
    border-radius: 1.2vw;
    padding: 1.7vw 2vw;
    padding-bottom: 2.2vw;
    font-size: 1.36vw;
  }

  .totalsubmission {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 530px) {
  .submissionDiv {
    width: 100%;
    height: auto;
    border-radius: 1.2vw;
    font-size: 2.9vw;
    border-radius: 2.5vw;
    padding: 2.8vw 3.2vw;
    padding-bottom: 2.2vw;
  }



  .totalsubmission {
    margin-bottom: 1em;
  }

  .HeatMapDiv {
    overflow-x: scroll;
    padding-bottom: 8px;
  }

  
}
